
/*---font-size---*/
$font-size-14:14px;
$font-size-15:15px;
$font-size-16:16px;
$font-size-17:17px;
$font-size-18:18px;
$font-size-19:19px;
$font-size-20:20px;

/*---font-weight---*/
$fontweight-100:100;
$fontweight-300:300;
$fontweight-400:400;
$fontweight-700:700;
$fontweight-900:900;

/*------display------*/
$display-none:none;
$display-block:block;
$display-inline:inline;
$display-inline-block:inline-block;
$display-flex:flex;
$display-inline-flex:inline-flex;

/*------padding-------*/
$padding-top-5:5px;
$padding-top-10:10px;
$padding-top-15:15px;
$padding-top-20:20px;

$padding-bottom-5:5px;
$padding-bottom-10:10px;
$padding-bottom-15:15px;
$padding-bottom-20:20px;

/*--------margin---------*/
$margin-top-5:5px;
$margin-top-10:10px;
$margin-top-15:15px;
$margin-top-20:20px;

$margin-bottom-5:5px;
$margin-bottom-10:10px;
$margin-bottom-15:15px;
$margin-bottom-20:20px;

/*----color----*/
$primary-color:#eca219;
$secoundary-color:#000;


